html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body,
#app {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.page {
	display: flex;
	flex-direction: column;
	background-color: honeydew;
	font-family: 'Lato','Montserrat', Arial, sans-serif;
	color: floralwhite;
}

.header, .footer {
	margin-left: 5%;
	margin-top: 10px;
	color: black;
}

/*.footer {
	color: black;
}*/

.map-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: lightcoral;
	width: 100%;
	height: 640px;
}

.map {
	height: 460px;
	width: 900px;
}

.map-label {
	word-spacing: 1.5px;
	font-size: 22px;
}

.map-header {
	margin-top: 50px;
}

.category-container {
	display: inline-block;
	margin-right: 20px;
}

.category-img {
	display: inline-block;
	width: 20px;
	margin-right: 7px;
}

.category {
	display: inline-block;
	font-size: 18px;
}

.hoverinfo {
	padding: 4px;
	border-radius: 1px;
	background-color: #fff;
	box-shadow: 1px 1px 5px #ccc;
	font-size: 12px;
	border: 1px solid #ccc;
}

.rise {
	text-decoration: underline
}